<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
  <appSettings>
    <add key="AdminUsername" value="admin"/>
    <add key="AdminPassword" value="d-1074433"/>
    <add key="GoogleApiKey" value="AIzaSyCRxw5XxrDtJwyZvzjHcal_hMYhpww8SyI"/>
    <add key="SettingsDir" value="/settings/"/>
    <add key="SmtpServer" value="relay-hosting.secureserver.net"/>
    <add key="SmtpUsername" value=""/>
    <add key="SmtpPassword" value=""/>
    <add key="FromEmail" value="info@obamainhydepark.com"/>
    <add key="ToshEmail" value="Tosh@vizrio.com"/>
    <add key="ImageDir" value="/images/"/>
  </appSettings>
  <connectionStrings>
 
  
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
