<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="AdminUsername" value="admin"/>
    <add key="AdminPassword" value="d-1074433"/>
    <add key="GoogleApiKey" value="AIzaSyCRxw5XxrDtJwyZvzjHcal_hMYhpww8SyI"/> 
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=AWOODW7-LT;Initial Catalog=ObamaInHydePark;Integrated Security=True;" providerName="System.Data.SqlClient" name="DbConn"/>
  </connectionStrings>
</configuration>
